.square {
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid #6c5ce7;
    width: 33.333%;
    height: 33.333%;
    font-size: 30px;
    color: #ff7675;
    cursor: pointer;
    vertical-align: top; /* Alinha o texto baseline no topo */
}